* {margin: 0;}

/*Header*/
header {
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 6, 59) 0%, rgb(0, 6, 59) 29%, rgba(0,133,123,1) 100%);
}

/*Header Navigation bar*/
header nav img {
    width: 4vw;
    margin: 1vh 1vw 1vh 5vw;
}
header nav p {
    color: #fff;
    font-size: 30px;
    padding: 2.5vh 0vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav {
    display: flex;
    height: 10vh;
    background: rgb(0, 6, 59) 100%;
    border-bottom: 1px solid rgb(55, 61, 108);
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav ul a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    margin: 15px 10px 20px 10px;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-decoration: none;
}
header nav ul a:hover{
    color: #fff;
    text-shadow: 0px 0px 1.5px #fff;;
}
header nav ul a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9caad1;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
header nav ul a:hover::before {
    transform: scaleX(1);
}

/*Header Hero Section*/
header .hero {
    display: flex;
    position: relative;
}
header .hero p {
    padding: 0vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    text-align: center;
    color: #fff;
    font-size: 18px;;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header .hero h1 {
    position: absolute;
    padding: -10vh 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 60vw;
    text-align: justify;
    color: #fff;
    font-size: 60px;;
}
header .hero img {
    padding: 10vh 0vw 10vh 10vw;
    position: absolute;
    top: 8vh;
    left: 50vw;
    width: 35vw;
    height: 55vh;
}

/*Feature Section*/
.feature {
    background-color: #fff;
    height: 30vh;
}
.feature h2 {
    text-align: center;
    padding-top: 3vh;
    font-size: 28px;
}
.feature p {
    text-align: center;
    padding: 5vh 5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Common Feature Box Styles*/
.feature-box-1 {
    background: linear-gradient(90deg, rgb(0, 6, 63) 0%, rgb(2, 8, 62) 10%, rgba(0,133,123,1) 100%);
    display: flex;
    text-align: center;
    height: 40vh;
    border-radius: 30px;
    margin: 0 auto 1vh auto;
    width: 98%;
}
.feature-box-1 div {
    width: 60vw;
}
.feature-box-1 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    text-align: center;
    padding-top: 3vh;
    color: #fff;
    height: 25%;
    font-size: 28px;
}
.feature-box-1 p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 16px;
    text-align: center;
    padding: 5vh 5vw;
    text-align: center;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feature-box-1 img {
    padding: 5vh 10vw;
    top: 4vh;
    left: 50vw;
    width: 15vw;
    height: 30vh;
}
#feature_image_share {
    padding: 6vh 10vw;
    width: 12vw;
    height: 28vh;
}
.feature-box-2 {
    background: linear-gradient(270deg, rgb(0, 6, 63) 0%, rgb(2, 8, 62) 10%, rgba(0,133,123,1) 100%);
    display: flex;
    text-align: center;
    margin-bottom: 0.2vh;
    height: 40vh;
    border-radius: 30px;
    margin: 0 auto 1vh auto;
    width: 98%;
}
.feature-box-2 div {
    width: 60vw;
}
.feature-box-2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    text-align: center;
    padding-top: 3vh;
    color: #fff;
    height: 25%;
    font-size: 28px;
}
.feature-box-2 p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 16px;
    text-align: center;
    padding: 5vh 5vw;
    text-align: center;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feature-box-2 img {
    padding: 5vh 10vw;
    top: 4vh;
    left: 50vw;
    width: 15vw;
    height: 30vh;
}
/*Review Section*/
.review {
    background-color: #fff;
}
.review h2 {
    text-align: center;
    padding-top: 3vh;
    font-size: 28px;
}
.review p {
    text-align: center;
    padding: 5vh 5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.review div{
    display: flex;
}
/*Common Review Box Styles*/
.review div section {
    background-color: rgb(219, 102, 19);
    padding: 3vh 3vw;
    margin: 1vh 1vw;
    width: 50vw;
    height: 80vh;
}
.review div section .review-profile {
    width: 10vw;
    background-color: aquamarine;
}
.review div section .review-name-rate {
    width: 20vw;
    height: 5vh;
}
.review div section div img {
    width: 1vw;
}
/*Demo Section*/

/*Footer Section*/
.content-footer {
    background-color: blueviolet;
    display: flex;
}

.content-footer div {
    width: 25vw;
}

.content-footer div p {
    color: aliceblue;
}

.content-footer div ul li {
    list-style-type: none;
}